---
import MainGridLayout from '../layouts/MainGridLayout.astro'

import { getEntry, render } from 'astro:content'
import Markdown from '@components/misc/Markdown.astro'

const aboutPost = await getEntry('spec', 'about')
if (!aboutPost) {
  throw new Error('Missing spec/about.md content entry.')
}

const { Content } = await render(aboutPost)
---
<MainGridLayout title="关于" description="关于">
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                <Content />
            </Markdown>
        </div>
    </div>
</MainGridLayout>
