---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>wsafight 的小站</h2>
			<p>
				大家好，这里是 wsafight 的小站，主要更新技术方面的文章!
			</p>
		</main>
	</body>
</html>
