---
---
<div class="giscus" style="margin-top: 4rem;width: 100%;"></div>

<script is:inline src="https://giscus.app/client.js"
        data-repo="wsafight/personBlog"
        data-repo-id="MDEwOlJlcG9zaXRvcnk2ODUxMzI3NQ=="
        data-category="Announcements"
        data-category-id="DIC_kwDOBBVt-84CmJfS"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>